<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:Tenant" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="ida:Audience" value="https://localhost:44322/TodoListService" />

    <add key="ida:ClientId" value="e1374b42-6391-4fc5-8942-2bd7135f1c32" />
    <add key="ida:AuthUri" value="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="ida:Key" value="455zbH9pRfU5FL76auFmcYt9Re240Bp5Oa3AblqQV7o=" />
    <add key="ida:Resource" value="https://graph.windows.net" />
  </appSettings>
</configuration>